.feed {
  height: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 0;
  gap: 40px;

  overflow: hidden;

  background: rgba(255, 193, 100, 0.097);
}

.postList {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  padding-bottom: 100px;
}

.feedErrorMessage {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 250px;
}
