.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
  gap: 20px;

  padding-top: 30px;
  margin-bottom: 50px;

  overflow: hidden auto;
  scroll-behavior: smooth;
}
