.authAction {
  height: 100%;
  width: 60%;

  display: grid;
  place-items: center;

  background: linear-gradient(
    90deg,
    rgba(253, 176, 61, 0.15) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (max-width: 800px) {
  .authAction {
    height: 60%;

    width: 100%;

    background: linear-gradient(
      180deg,
      rgba(253, 176, 61, 0.15) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
