.header {
  height: 60px;

  width: 100%;
  min-width: 100%;

  display: grid;
  grid-template-columns: 1fr 5.5fr;
  align-items: center;

  background-color: rgb(40, 40, 40);
}

.heading {
  margin: 10px 0 10px 10px;
}

.homeRedirectLink {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: start;

  justify-self: start;
}

.homeRedirectLink {
  text-decoration: none;
  color: white;

  transition: color 0.3s ease;
}

.homeRedirectLink:hover {
  color: wheat;
}

.homeRedirectLink:active {
  color: rgb(248, 189, 78);
}

.menuBtn {
  height: 30px;
  width: 30px;

  justify-self: end;

  margin-right: 20px;

  background-color: transparent;

  display: none;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .header {
    height: max-content;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .menuBtn {
    display: flex;
  }
}
